tr
  th = question.title
  th = button_to 'Открыть',
          question_answers_path(question),
          method: :get,
          class: 'btn btn-primary'
  - if user&.has_question? question
    th = button_to 'Удалить',
            question_path(question),
            method: :delete,
            class: 'btn btn-danger'

